@import url("reset.css");
/* font-family: 'Montserrat', sans-serif; */

/* !GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  color: #161616;
  font-size: 18px;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 62px;
  font-family: "Montserrat";
}

h3 {
  font-weight: 500;
  font-size: 32px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: #161616;
}

/* HEADER */
.header {
  background: #81a36b;
  padding: 20px 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text > ul {
  display: flex;
  gap: 90px;
}

.header_text ul > li a:hover {
  color: blueviolet;
}

.header_logo > a {
  display: block;
}

/* MAIN */

/* AMELIA BOX */

.amelia_box .container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.amelia_box_left {
  flex: 1 1 50%;
  text-align: center;
}

.amelia_box_left > p {
  margin: 50px 0;
}

.amelia_box_left > h1 {
  font-family: "Montserrat", sans-serif;
}

.amelia_box_right {
  flex: 1 1 50%;
}

.amelia_box_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottons {
  display: flex;
  gap: 65px;
  padding-left: 15px;
}
.bottons a {
  display: block;
  padding: 20px 31px;
  border: 1px solid #81a36b;
}
.bottons a:hover {
  color: aqua;
}

button {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
}

.buy_flower_botton {
  background: #81a36b;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  padding: 20px 31px;
  border: none;
}

.about {
  max-width: 540px;
  text-align: center;
  padding: 120px 0;
}

.about > h3 {
  margin-bottom: 52px;
  font-family: "Montserrat", sans-serif;
}

/* *TODO: PRICE */

.price {
  background: #81a36b;
  padding: 80px 0;
  margin: 0 auto;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.img {
  text-align: center;
}

.img > img {
  margin-bottom: 20px;
}

.price-box > li > p {
  font-family: "Montserrat", sans-serif;
}

/* WORKS*/

.how_we_work {
  display: flex;
  padding: 120px 0;
  gap: 30px;
  align-items: center;
}
.how_we_work_img {
  flex: 1 1 50%;
}

.how_we_work_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.how_we_work_text {
  flex: 1 1 50%;
}

.how_we_work_text > h3 {
  margin-bottom: 60px;
  text-align: center;
  font-family: "Montserrat";
}

.our_works {
  padding-bottom: 120px;
}

.our_works > h3 {
  text-align: center;
  margin-bottom: 80px;
}

.work_cards {
  display: flex;
  text-align: center;
  gap: 30px;
}

.work_card {
  background: #81a36b;
  padding: 15px 15px 50px;
  flex: 1 1 30%;
}

.work_card p {
  padding-top: 23px;
}

/* !FOOTER */

.footer {
  background: #81a36b;
  padding: 60px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.flex-container h3 {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 40px;
}

.flex-container a {
  text-decoration: none;
}

.footer-contact a {
  color: #161616;
  text-decoration: none;
  display: inline-block;
}

.footer-contact ul > li + li {
  margin-top: 20px;
}

.footer-social ul {
  display: flex;
  justify-content: space-evenly;
}

.footer-year {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.burger_menu {
  display: none;
}

.burger_menu > p {
  width: 100%;
  height: 30%;
  background: #000;
}

.burger_menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: rgb(0, 0, 0);
}

.burger_menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 30%;
  background: rgb(52, 8, 207);
}

@media screen and (max-width: 1140px) {
  /* Header */
  body {
    font-size: 14px;
  }
  .header_text > ul {
    gap: 40px;
  }

  /* Main */
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  span {
    font-size: 12px;
    line-height: 18px;
  }

  .amelia_box .container {
    gap: 10px;
  }
  .amelia_box_left > p {
    margin: 20px 0;
  }
  .buy_flower_botton,
  .bottons a {
    font-size: 12px;
    padding: 12px 20px;
  }
  .bottons {
    justify-content: space-around;
  }
  .about {
    padding: 40px 15px;
  }
  .about > h3 {
    margin-bottom: 25px;
  }
  .price {
    padding: 20px 0;
  }
  .price-box {
    flex-flow: wrap;
  }
  .img > img {
    max-width: 55px;
    max-height: 55px;
    margin-bottom: 10px;
  }

  .how_we_work {
    padding: 30px 0;
    gap: 10px;
  }
  .our_works {
    padding-bottom: 60px;
  }
  .our_works > h3 {
    margin-bottom: 30px;
  }
  .work_cards {
    flex-flow: wrap;
    justify-content: center;
    gap: 5px;
  }
  .work_card {
    padding: 5px 5px 15px;
    flex: 0 1 33%;
  }
  .work_card > img {
    max-width: 300;
    max-height: 380;
  }
  .work_card p {
    padding-top: 9px;
  }

  /* Footer */
  .footer {
    padding: 15px 0;
  }
  .flex-container {
    margin-bottom: 15px;
  }
  .footer-contact ul > li + li {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  .header {
    margin-bottom: 10px;
  }
  .header_text > ul {
    display: none;
  }

  .header_logo img {
    max-width: 115px;
    max-height: 25px;
  }

  .burger_menu {
    display: inline-block;
    width: 35px;
    height: 30px;
    background: transparent;
    position: relative;
  }

  /* Main */
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 8px;
  }
  .amelia_box .container {
    flex-flow: column;
  }
  .amelia_box_right img {
    max-width: 270px;
    max-height: 330px;
    text-align: center;
  }

  .bottons {
    justify-content: center;
  }

  .img > img {
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 5px;
  }

  .how_we_work {
    flex-flow: wrap;
  }
  .how_we_work_img {
    order: 2;
    text-align: center;
  }
  .how_we_work_text {
    order: 1;
    text-align: center;
  }
  .how_we_work_text > h3 {
    margin-bottom: 20px;
  }
  .how_we_work_img > img {
    max-width: 280px;
    max-height: 340px;
  }
  .our_works {
    padding-bottom: 10px;
  }
  .flex-container {
    flex-flow: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }
  .footer-social ul {
    justify-content: center;
    gap: 5px;
  }
  .flex-container h3 {
    margin-bottom: 15px;
  }
  .footer-contact {
    order: 2;
  }
  .footer-social {
    order: 3;
  }
  .flex-container > ul {
    order: 1;
  }
}

@media screen and (max-width: 470px) {
  .price-box {
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 390px) {
  .buy_flower_botton,
  .bottons a {
    font-size: 8px;
    padding: 8px 14px;
  }
}
